html
	head
		title= test.name
		
	body
		p= "Name: " + test.name
		p= "Artist: " + test.artist
		p= "Attack: " + test.attack
		p= "Health: " + test.health
		p= "Class: " + test.cardClass
		p= "Rarity: " + test.rarity
	